* {
  box-sizing: border-box; }

body {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  font-size: 16px;
  box-sizing: border-box; }

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden; }

.navbar {
  position: absolute;
  width: 100%;
  z-index: 100; }

.main-container {
  position: relative;
  height: 100%; }
  .main-container .login-container {
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    position: absolute;
    z-index: 100;
    margin: 0;
    background: url("https://i.imgur.com/oP6uFMY.png") no-repeat center center;
    background-size: cover; }
  .main-container .chat-container {
    height: 100%;
    padding-bottom: 120px;
    padding-top: 50px; }
    .main-container .chat-container .form-group {
      margin: 0; }
  .main-container #login {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0; }
    .main-container #login .col-md-6 {
      background-color: rgba(255, 255, 255, 0.8);
      margin-top: 110px;
      box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
      .main-container #login .col-md-6 .legend {
        font-weight: 900;
        font-size: 24px; }
    .main-container #login .form-horizontal {
      margin: 50px auto; }
  .main-container #map {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    border: 0; }
  .main-container #chat {
    height: 120px;
    padding: 20px;
    box-shadow: 3px -5px 16px -3px rgba(0, 0, 0, 0.75);
    background-color: #eeeeee;
    z-index: 10; }
    .main-container #chat textarea {
      padding: 10px;
      height: 80px; }
  .main-container #history {
    position: absolute;
    bottom: 0;
    top: 50px;
    width: 450px;
    background-color: #eeeeee;
    box-shadow: 3px -5px 16px -3px rgba(0, 0, 0, 0.75); }
    .main-container #history .history-container {
      position: absolute;
      top: 0;
      bottom: 0;
      padding: 0 20px;
      overflow-y: scroll;
      width: 100%; }
      .main-container #history .history-container .history-item {
        padding: 20px 0;
        border-bottom: 1px solid #c8c8c8;
        width: 100%; }

.pin-wrap {
  position: absolute;
  width: 200px;
  height: 100px;
  margin-top: -120.71068px;
  margin-left: -50px;
  -webkit-transform-origin: 50% 120.71068% 0;
  transform-origin: 50% 120.71068% 0; }

.pin {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 100px;
  margin-top: -50px;
  margin-left: -100px;
  -webkit-transform-origin: 50% 120.71068% 0;
  transform-origin: 50% 120.71068% 0; }
  .pin .content {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 10px 20px;
    z-index: 10; }
  .pin .author {
    z-index: 10;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
    left: 20px;
    top: 10px;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.4); }
  .pin p {
    position: absolute;
    color: white;
    margin: 0;
    width: 150px;
    height: 55px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px; }

.pin::after {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 200px;
  height: 100px;
  content: '';
  background-color: #e53935;
  border-radius: 15px;
  box-shadow: 3px -5px 16px -3px rgba(0, 0, 0, 0.75); }

.pin::before {
  position: absolute;
  display: block;
  box-sizing: border-box;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-transform: rotateZ(-45deg);
  transform: rotateZ(-45deg);
  border: 18px solid #d22b05;
  border-radius: 50% 50% 50% 0; }

.shadow {
  position: absolute; }

.shadow::after {
  position: absolute;
  left: -125px;
  display: block;
  width: 50px;
  height: 50px;
  margin-top: -25px;
  content: '';
  -webkit-transform: rotateX(55deg);
  transform: rotateX(55deg);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.5) 100px 0 20px; }

.pulse {
  position: absolute;
  margin-top: -50px;
  margin-left: -50px;
  -webkit-transform: rotateX(55deg);
  transform: rotateX(55deg); }

.pulse::after {
  display: block;
  width: 100px;
  height: 100px;
  content: '';
  -webkit-animation: pulsate 1s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-delay: 1.1s;
  animation-delay: 1.1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
  border-radius: 50%;
  box-shadow: 0 0 1px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 6px 3px #f93c11; }

@-webkit-keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0; } }

@keyframes pulsate {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    transform: scale(0.1, 0.1);
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    transform: scale(1.2, 1.2);
    opacity: 0; } }

.header {
  font-family: Roboto, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 2em;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 10px 0;
  text-align: center;
  color: #f93c11;
  background: rgba(255, 255, 255, 0.75); }

h1 {
  font-family: Raleway, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-weight: 900;
  font-size: 32px;
  margin-bottom: 10px;
  border-bottom: 2px dashed #f93c11;
  display: inline-block; }

.tags {
  font-weight: 300; }

.list-label {
  font-family: Raleway, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
  font-weight: 400; }

.header li {
  display: inline-block; }

.tags a {
  color: #f93c11; }

.animations a {
  line-height: 42px;
  display: block;
  box-sizing: border-box;
  height: 44px;
  margin: 0 5px;
  padding: 0 10px;
  text-decoration: none;
  color: #f93c11;
  border: 2px solid #f93c11;
  border-radius: 22px;
  -webkit-transition: background-color 0.3s, color 0.3s;
  transition: background-color 0.3s, color 0.3s; }

.animations a:hover {
  color: white;
  background: #f93c11; }

@media screen and (max-width: 480px) {
  #history {
    right: -450px; }
  .chat-container {
    padding-right: 0; } }

@media screen and (min-width: 480px) and (max-width: 1920px) {
  #history {
    right: 0; }
  .chat-container {
    padding-right: 450px; } }

/*# sourceMappingURL=sourcemaps/style.css.map */
